<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.swolf.ly.message">

    <application>
        <activity
                android:name=".MessageActivity"
                android:label="@string/title_activity_message"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>